.caixa-texto{
    width: 400px;
    padding: 8px;
}
h1 {
    text-align: center;
    color: brown;
}
h2 {
    background-color: brown;    
}.caixa-selecao{
    font-family: Arial;
    font-size: 28px;
}

/*fazer as checkboxes maiores e com uma fonte melhor, preferencialmnte arial */